<div id="<%= dom_id request %>">
  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= request.availability_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= request.sender_id %>
  </p>

</div>
